
<div class="container">

  {{!-- Title box --}}
  <div class="py-4 row">
    <div class="border col bg-white rounded text-center">
      <img src="assets/img/burger-big.svg" alt="">
      <h1>Eat Da Burger!</h1>
    </div>
  </div>
  
  {{!-- Left Column --}}
  <div class="px-4 row">
    <div class="col-3 mr-auto py-4">
      {{!-- <h2>Burgers that are not devoured:</h2> --}}
      {{#each burgers}}
        {{#unless this.devoured}}
          <div class="border rounded row">
            <div class="col">
              <div class="row">
                <div class="bg-white col text-center">
                  {{this.burger_name}}
                </div>
                <div class="bg-white col">
                <form class="devour_form">
                  <input type="hidden" class="burger_id" type="text" value="{{this.id}}"><br>
                  <button type="submit" class="burger_id rounded" data-id="{{this.id}}">Devour it!</button>
                </form>
                </div>
              </div>
            </div>   
          </div>
        {{/unless}}
      {{/each}}
    </div>

    {{!-- Right Column --}}
    <div class="col-3 py-4">
      {{!-- <h2>Burgers that are devoured:</h2> --}}
      {{#each burgers}}
        {{#if this.devoured}}
          <div>
            <div class="bg-white border rounded text-center">
              {{this.burger_name}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>

  </div>


  {{!-- Add a new burger section --}}
  <div class="text-center">
    <p class="text-center">Enter a burger you want to eat and click submit:</p>
    <form action="/burgers/create" method="POST">
      <input type="text" class="form-control mx-auto w-50" name="burger_name" id="enter_text">
      <button class="" type="submit" id="text-enter-button">Submit</button>
    </form>
  </div>
</div>